<div id="resume" class="hresume">
  <div id="contact">
    <address class="vcard">
      <span class="fn"><%= data.resume.contact_info.name.values.join(' ') %></span>
      <span class="adr">
        <span class="street-address"><%= data.resume.contact_info.address.street %></span>
        <span class="locality"><%= data.resume.contact_info.address.city %></span>, <span class="region"><%= data.resume.contact_info.address.state %></span> <span class="postal-code"><%= data.resume.contact_info.address.zip_code %></span>
      </span>
      <span>E: <a class="email" href="mailto:<%= data.resume.contact_info.email %>"><%= data.resume.contact_info.email %></a></span>
      <span>P: <a class="tel" href="tel:<%= data.resume.contact_info.phone %>"><%= data.resume.contact_info.phone %></a></span>
      <% data.resume.contact_info.links.each do |l| %>
      <span><%= l.name%>: <a href="<%= l.url %>"><%= l.id %></a></span>
      <% end %>
    </address>
  </div><!-- contact -->  

  <div id="summary">
    <p class="summary"><%= data.resume.summary %></p>
  </div><!-- summary -->

  <div id="experience" class="panel panel-default vcalendar">
    <div class="panel-heading">
      <h3 class="panel-title">Experience</h3>
    </div>
    <% data.resume.experience.each do |e| %>
      <div class="experience vevent">
        <span class="location"><h4><%= e.employer %></h4></span>
        <abbr class="dtstart"><%= e.start_date %></abbr> - <abbr class="dtend"><%= e.end_date %></abbr>
        <% e.roles.each do |r| %>
          <div class="vcard">
            <em>
              <span class="title"><%= r.title %></span>
              (<abbr class="dtstart"><%= r.start_date %></abbr> - <abbr class="dtend"><%= r.end_date %></abbr>)
            </em>
            <ul>
            <% r.highlights.each do |h| %>
              <li><%= h %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  </div><!-- experience -->

  <div id="education" class="panel panel-default vcalendar">
    <div class="panel-heading">
      <h3 class="panel-title">Education</h3>
    </div>
    <% data.resume.education.each do |e| %>
      <div class="panel panel-default education vevent">
        <div class="panel-body summary vcard">
          <span class="org"><%= e.institution %></span>
          <div class="adr">
            <span class="locality"><%= e.city %></span>
            <span class="region"><%= e.state %></span>
          </div>
          <abbr class="dtstart"><%= e.start_date %></abbr> - <abbr class="dtend"><%= e.end_date %></abbr>
      </div>
    <% end %>
  </div><!-- education -->

  <div id="certifications" class="panel panel-default affiliation">
    <div class="panel-heading">
      <h3 class="panel-title">Certifications</h3>
    </div>
    <% data.resume.certifications.each do |c| %>
      <div class="panel panel-default affiliation vcard">
        <div class="panel-body">
          <span class="org"><%= c.name %></span>,
          <span class="dtstart"><%= c.start_date %></span> -
          <span class="dtend"><%= c.end_date %></span>
        </div>
      </div>
    </div>
  <% end %>
  </div><!-- certifications -->
</div><!-- resume -->     
