#resume.hresume
  #contact.panel.panel-primary
    .page-header
      %h1= data.resume.contact_info.name.values.join(' ')
    .panel-heading
      %h4.panel-title Contact Information
    .panel-body.text-center
      %address.vcard
        %span.fn.hidden= data.resume.contact_info.name.values.join(' ')
        %span.adr
          %i(class="fa fa-map-marker fa-lg")
          %span.street-address= data.resume.contact_info.address.street
          %span.locality= data.resume.contact_info.address.city
          %span.region= data.resume.contact_info.address.state
          %span.postal-code= data.resume.contact_info.address.zip_code
        %ul.list-inline
          %li
            %i(class="fa fa-envelope-square fa-lg")
            %a.email{href: "mailto:#{data.resume.contact_info.email}"}= data.resume.contact_info.email
          %li
            %i(class="fa fa-phone-square fa-lg")
            %a.tel{href: "tel:#{data.resume.contact_info.phone}"}= data.resume.contact_info.phone
          - data.resume.contact_info.links.each do |l|
            %li
              %i(class="fa #{l.icon} fa-lg")
              %a.url{href: l.url}= l.id

  #summary.panel.panel-primary
    .panel-heading
      %h4.panel-title Summary
    .panel-body
      %p.summary= data.resume.summary
  #experience.panel.panel-primary.vcalendar
    .panel-heading
      %h4.panel-title Experience
    .panel-body
      - data.resume.experience.each do |e|
        .panel.panel-default.experience.vevent
          .panel-body
            %h4
              .row
                .col-xs-8
                  %span.location= e.employer
                .col-xs-4
                  %abbr.dtstart= e.start_date
                  %span -
                  %abbr.dtend= e.end_date
            - e.roles.each do |r|
              .vcard
                %em
                  %span.title= r.title
                  %span
                    (
                    %abbr.dtstart= r.start_date
                    %span -
                    %abbr.dtend= r.end_date
                    )
                %ul
                  - r.highlights.each do |h|
                    %li= h
  #education.panel.panel-primary
    .panel-heading
      %h3.panel-title Education
    .panel-body
      - data.resume.education.each do |e|
        .panel.panel-default.education.vevent
          .panel-body.summary.vcard
            %h4
              .row
                .col-xs-4
                  %span.org= e.institution
                .col-xs-4
                  .addr
                    %span.locality #{e.city},
                    %span.region= e.state
                .col-xs-4
                  %abbr.dtstart= e.start_date
                  %span -
                  %abbr.dtend= e.end_date
            %span= e.curriculum.join(', ')
  #certifications.panel.panel-primary.affiliation
    .panel-heading
      %h4.panel-title Certifications
    .panel-body
      - data.resume.certifications.each do |c|
        .panel.panel-default.affiliation.vcard
          .panel-body
            %span.org= c.name
            %span.dtstart= c.start_date
            %span -
            %span.dtend= c.end_date
