#resume.hresume
  #contact.panel.panel-primary
    .page-header
      %h1= data.resume.contact_info.name.values.join(' ')
    .panel-heading
      %h4.panel-title Contact Information
    .panel-body.text-center
      %address.vcard
        %ul.list-inline
          %li
            %span.fn.hidden= data.resume.contact_info.name.values.join(' ')
            %i{class: 'fa fa-map-marker fa-lg'}
            %a.adr{href: "https://www.google.com/maps/place/#{data.resume.contact_info.address.city},+#{data.resume.contact_info.address.state}"}
              = succeed ',' do
                %span.locality= data.resume.contact_info.address.city
              %span.region= data.resume.contact_info.address.state
          %li
            %i{class: 'fa fa-envelope-square fa-lg'}
            %a.email{href: "mailto:#{data.resume.contact_info.email}"}= data.resume.contact_info.email
          %li
            %i{class: 'fa fa-phone-square fa-lg'}
            %a.tel{href: "tel:#{data.resume.contact_info.phone}"}= data.resume.contact_info.phone
          - data.resume.contact_info.links.each do |l|
            %li
              %i{class: "fa #{l.icon} fa-lg"}
              %a.url{href: l.url}= l.id

  #summary.panel.panel-primary
    .panel-heading
      %h4.panel-title Summary
    .panel-body
      %p.summary= data.resume.summary

  #skills.panel.panel-primary
    .panel-heading
      %h4.panel-title Skills
    .panel-body
      .row
        - @cols = 4
        - @items_per_col = (data.resume.skills.length / @cols.to_f).ceil
        - @cols.times.each do |col|
          .col-sm-3
            %ul
              - @items_per_col.times.each do |item|
                - unless data.resume.skills[col * @items_per_col + item].nil?
                  %li
                    %span.skill= data.resume.skills[col * @items_per_col + item]

  #experience.panel.panel-primary.vcalendar
    .panel-heading
      %h4.panel-title Experience
    .panel-body
      - data.resume.experience.each do |e|
        .panel.panel-default.experience.vevent
          .panel-body
            %h4
              .row
                .col-sm-4
                  %span.location= e.employer
                .col-sm-4
                  .addr
                    %span.locality>= e.city
                    ,
                    %span.region= e.state
                .col-sm-4
                  %abbr.dtstart= e.start_date
                  \-
                  %abbr.dtend= e.end_date
            - e.roles.each do |r|
              .vcard
                %em
                  %span.title= r.title
                  %span
                    = surround '(', ')' do
                      %abbr.dtstart= r.start_date
                      \-
                      %abbr.dtend= r.end_date
                %ul
                  - r.highlights.each do |h|
                    %li= h

  #education.panel.panel-primary
    .panel-heading
      %h4.panel-title Education
    .panel-body
      - data.resume.education.each do |e|
        .panel.panel-default.education.vevent
          .panel-body.summary.vcard
            %h4
              .row
                .col-sm-4
                  %span.org= e.institution
                .col-sm-4
                  .addr
                    %span.locality>= e.city
                    ,
                    %span.region= e.state
                .col-sm-4
                  %abbr.dtstart= e.start_date
                  \-
                  %abbr.dtend= e.end_date
            %span= e.curriculum.join(', ')

  #certifications.panel.panel-primary.affiliation
    .panel-heading
      %h4.panel-title Certifications
    .panel-body
      - data.resume.certifications.each do |c|
        .panel.panel-default.affiliation.vcard
          .panel-body
            %h4
              .row
                .col-sm-4
                  %span.org= c.name
                .col-sm-4
                .col-sm-4
                  %abbr.dtstart= c.start_date
                  \-
                  %span.dtend= c.end_date
